a:link, a:visited {
    text-decoration: none;
    color: cadetblue;
}
a:hover {
    color: rgb(168, 211, 212);
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}
body {
    font-family: "Open Sans",Arial,sans-serif;
    color: white;
    background-color: rgb(42, 42, 42);
}
blockquote {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(63, 63, 63);
    border-left: 0.5em solid #aaa;
    font-style: italic;
    color:rgb(187, 187, 187);
    margin-left: 0;
}
blockquote p {
    margin: 0;
}
p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}