<!DOCTYPE html>
<html>
    <head>
        <title>Joel Chemmanur</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'homepage/styles.css')}}">
    </head>
    <body>
        <canvas id="screen"></canvas>
		<script type="text/javascript" src="{{ url_for('static', filename = 'homepage/visual.js')}}"></script>

        <div id="bannerBuffer">
            <div id="bannerContent">
                <h1 id="bannerTitle">Joel Chemmanur</h1>
            </div>
        </div>

    </body>
</html>