#screen {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
#bannerBuffer {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
#bannerContent {
    background-color: rgb(12, 12, 12);
    border-radius: 35px;
}
#bannerContent h1 {
    font-family: "Archivo", sans-serif;
    font-size: 70px;
    color: white;
    margin: 0.5em;
    margin-bottom: 0.1em;
}
#bannerContent p {
    color: rgb(255, 166, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding-left: 35px;
    margin-top: 0;
}
#titles {
    color: white;
}